.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-name {
    color: blue;
    overflow: hidden;
    padding: .5em;
    text-overflow: ellipsis;
    width: 10em;
    white-space: nowrap;
}

.contact-phone {
    color: forestgreen;
    overflow: hidden;
    padding: .5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10em;
}
.contact-favorite {
    color: #a271e0;
    font-size: 1.5em;
}

.contact-favorite-set:before {
    content: "\2605";
}

.contact-favorite-unset:before {
    content: "\2606";
}

.contact-delete:before {
    content: "\274c";
}

.contacts-main-view {
    width: 26em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-list-item {
    display: flex;
    flex-direction: row;
}

.no-contacts {
    margin: auto;
    width: fit-content;
}

.no-contacts-msg {
    display: table-header-group;
}

.pointed {
    cursor: pointer;
}

.pointed:disabled {
    cursor: not-allowed;
}

.search-contacts {
    display: flex;
    justify-content: space-between;
}

.search-contacts-i {
    height: 2em;
    border-radius: 0.3em;
}

.contacts-pagination {
    display: flex;
    justify-content: flex-end;
    margin: 1em 0;
}

.page-button {
    height: 2.5em;
    width: 5em;
    background-color: #61dafb;
    border-radius: 0.3em;
}

.page-num {
    align-self: center;
    margin: 0 1em;
}